@font-face {
	font-family: 'Sarine';
	src: url('../fonts/Sarine-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Sarine';
	font-weight: 500;
	src: url('../fonts/Sarine-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Sarine';
	font-weight: 700;
	src: url('../fonts/Sarine-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Hind:400,700');

body {
	font-family: 'Sarine', sans-serif;

	&:before {
		display: none;
		@media (max-width: $screen-xs-max) {
			content: 'mobile';
		}
		@media (min-width: $screen-sm-min) {
			content: 'tablet';
		}
		@media (min-width: $screen-md-min) {
			content: 'desktop';
		}
		@media (min-width: $screen-lg-min) {
			content: 'large-desktop';
		}
	}
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

a,
button,
select {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;

	&:focus {
		outline: none;
	}
}

.titles-box {
	@media (max-width: $screen-xs-max) {
		height: 50px;
		line-height: 50px;
		margin: 30px 0 20px;
	}
	@media (min-width: $screen-sm-min) {
		height: 100px;
		line-height: 100px;
		margin: 0 0 50px;
	}
	@media (min-width: $screen-md-min) {
		height: 200px;
		line-height: 200px;
		margin: 0 0 80px;
	}
}
