.header {
	z-index: 100;
	width: 100%;
	background-color: $c-white;
	@media (max-width: $screen-xs-max) {
		margin-top: 10px;
		height: 60px;
	}
	@media (min-width: $screen-sm-min) {
		margin-top: 20px;
		height: 90px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 50px;
	}

	&__wrapper {
		@media (max-width: $screen-xs-max) {
			padding: 5px 0;
		}
		@media (min-width: $screen-sm-min) {
			padding: 10px 20px;
		}
		@include clearfix;
	}

	&__logo {
		display: block;
		float: left;
		position: relative;

		&__img {
			display: block;

			&--mobile {
				@media (max-width: $screen-xs-max) {
					height: 50px;
				}
				@media (min-width: $screen-sm-min) {
					height: 70px;
				}
				@media (min-width: $screen-md-min) {
					display: none;
				}
			}

			&--normal {
				@media (max-width: $screen-sm-max) {
					display: none;
				}
				@media (min-width: $screen-md-min) {
					top: 3vw;
					left: 9vw;
					width: 20vw;
					position: absolute;
					transition: all 0.1s linear;
				}
			}
		}
	}

	&__toggle {
		display: block;
		float: right;
		@media (min-width: $screen-md-min) {
			display: none;
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		margin: 0;
		left: 0;
		right: 0;

		.header__logo__img {
			&--normal {
				@media (min-width: $screen-md-min) {
					height: 70px;
					top: 0;
					left: 0;
					width: auto;
				}
			}
		}
	}
}
