.scroll-top {
	position: fixed;
	bottom: 35px;
	right: 35px;
	font-size: 0;
	display: none;
	padding: 15px;
	background-color: $c-red;
	transition: background-color 0.3s, transform 0.3s;

	&:hover {
		background-color: $c-black;
		transform: scale(1.05);
	}

	&:before {
		content: '';
		display: block;
		width: 30px;
		height: 30px;
		transform: rotate(-90deg);
		background-image: url('../images/arrow.svg');
	}
}
