.scroll-top {
	position: fixed;
	font-size: 0;
	display: none;
	background-color: $c-red;
	@media (min-width: $screen-md-min) {
		transition: background-color 0.3s, transform 0.3s;
	}
	@media (min-width: $screen-sm-min) {
		bottom: 35px;
		right: 35px;
		padding: 15px;
	}
	@media (max-width: $screen-xs-max) {
		bottom: 20px;
		right: 20px;
		padding: 12px;
	}

	&:hover {
		@media (min-width: $screen-md-min) {
			background-color: $c-black;
			transform: scale(1.05);
		}
	}

	&:before {
		content: '';
		display: block;
		transform: rotate(-90deg);
		background-image: url('../images/arrow.svg');
		@media (min-width: $screen-sm-min) {
			width: 30px;
			height: 30px;
		}
		@media (max-width: $screen-xs-max) {
			width: 20px;
			height: 20px;
		}
	}
}
