.slider {
	&__container {
		@include container-fixed;
		@media (min-width: $screen-sm-min) {
			width: $container-sm;
		}
		@media (min-width: $screen-md-min) {
			width: $container-md;
		}
		@media (min-width: $screen-lg-min) {
			width: $container-lg;
		}
		@media (min-width: 1440px) {
			width: 1410px;
		}
		@media (min-width: 1600px) {
			width: 1570px;
		}
	}

	&__wrapper {
		position: relative;
		@media (max-width: $screen-sm-max) {
			margin: 0 -15px;
		}
		@media (min-width: $screen-md-min) {
			width: 60%;
		}
		@include clearfix;

		&--left {
			@media (max-width: $screen-sm-max) {
				display: none;
			}
			@media (min-width: $screen-md-min) {
				z-index: 10;
				float: left;
				margin-top: -30%;
			}
		}

		&--right {
			@media (min-width: $screen-md-min) {
				z-index: 20;
				float: right;
			}
		}
	}

	&__slide {
		overflow: hidden;
		position: relative;

		&:focus {
			outline: none;
		}

		&:hover {
			img {
				@media (min-width: $screen-md-min) {
					transform: scale(1.2);
				}
			}
		}

		img {
			width: 100%;
			@media (min-width: $screen-md-min) {
				transition: transform 10s linear;
			}
		}
	}

	&__next {
		position: absolute;
		cursor: pointer;
		border: none;
		z-index: 30;
		bottom: 0;
		height: 75%;
		padding: 15px;
		background-color: $c-red;
		@media (max-width: $screen-xs-min + 1) {
			left: 0;
			padding: 5px;
		}
		@media (min-width: $screen-xs-min) {
			left: 0;
			padding: 15px;
		}
		@media (min-width: $screen-md-min) {
			left: -70px;
			transition: all 0.2s linear;
		}

		img {
			display: block;
			width: 40px;
			@media (min-width: $screen-md-min) {
				transition: all 0.2s linear;
			}
		}

		&:hover {
			@media (min-width: $screen-md-min) {
				background-color: $c-gray;
			}

			img {
				@media (min-width: $screen-md-min) {
					transform: scale(1.1);
				}
			}
		}
	}

	&__loader {
		height: 5px;
		width: 0;
		bottom: -5px;
		position: absolute;
		background-color: $c-red;
		@media (max-width: $screen-sm-max) {
			left: 0;
		}
		@media (min-width: $screen-md-min) {
			left: 33.4%;
		}
	}

	&__content {
		display: none;
		position: absolute;
		right: 0;
		text-decoration: none;
		top: 100%;
		@media (max-width: $screen-sm-max) {
			width: 100%;
		}
		@media (min-width: $screen-md-min) {
			height: 25%;
			width: 66.666%;
		}
		@include clearfix;

		h2 {
			margin: 0;
			color: $c-black;
			font-weight: 400;
			text-transform: uppercase;
			position: relative;
			@media (max-width: $screen-xs-min) {
				font-size: 22px;
				padding: 6% 5% 0;
			}
			@media (min-width: $screen-xs-min + 1) {
				font-size: 28px;
				padding: 6% 5% 0;
			}
			@media (min-width: $screen-md-min) {
				font-size: 24px;
				padding: 5% 5% 0;
				transition: all 0.2s linear;
			}
			@media (min-width: $screen-lg-min) {
				font-size: 28px;
				padding: 6% 5% 0;
			}
			@media (min-width: 1440px) {
				font-size: 30px;
				padding: 8% 8% 0;
			}
		}

		p {
			margin: 0;
			color: $c-black;
			@media (max-width: $screen-xs-min) {
				font-size: 12px;
				padding: 1% 6% 0;
			}
			@media (min-width: $screen-xs-min + 1) {
				font-size: 14px;
				padding: 1% 6% 0;
			}
			@media (min-width: $screen-md-min) {
				font-size: 14px;
				padding: 1% 7% 0;
			}
			@media (min-width: $screen-lg-min) {
				font-size: 14px;
				padding: 2% 9% 0;
			}

			&:after {
				content: '';
				display: inline-block;
				transition: all 0.2s linear;
				background-image: url('../images/arrow-dark.svg');
				@media (max-width: $screen-xs-min) {
					width: 15px;
					height: 15px;
					margin-left: 10px;
					margin-bottom: -3px;
				}
				@media (min-width: $screen-xs-min + 1) {
					width: 25px;
					height: 25px;
					margin-left: 20px;
					margin-bottom: -7px;
				}
			}
		}

		&:hover {
			h2 {
				@media (min-width: $screen-md-min) {
					color: $c-red;
				}
			}

			p:after {
				@media (min-width: $screen-md-min) {
					margin-left: 50px;
				}
			}
		}
	}
}
