.socials {
	position: fixed;
	left: 40px;
	bottom: 20px;
	z-index: 10;
	@media (max-width: $screen-sm-max) {
		display: none;
	}

	&__menu {
		padding: 0;
		margin: 0;

		li {
			display: block;


			a {
				display: block;
				margin: 20px 0;

				img {
					display: block;
					width: 50px;
					background-color: $c-white;
					transition: all 0.2s linear;
				}

				&:hover {
					img {
						transform: scale(1.1) rotate(4deg);
					}
				}
			}
		}
	}
}
