// Colors
// ===================================================

$c-white:      #ffffff;
$c-black:      #000000;
$c-red:        #e4423f;
$c-gray:       #2a2a2a;
$c-light-gray: #828282;
$c-green:      #2be04d;


// Box Shadow
// ===================================================

$shadow: -4px 4px 25px 0px rgba(0,0,0,0.75);
