.about {
	@media (min-width: $screen-sm-min) {
		padding: 100px 0 100px;
	}
	@media (max-width: $screen-xs-max) {
		padding: 85px 0 10px;
	}

	&__photo {
		display: block;
		width: 100%;
		margin: 0 auto;
		@media (min-width: $screen-md-min) {
			max-width: 440px;
		}
		@media (min-width: $screen-sm-min) {
			max-width: 320px;
		}
		@media (max-width: $screen-xs-max) {
			max-width: 180px;
		}
	}

	&__text {
		max-width: 800px;
		text-align: center;
		line-height: 1.8;
		font-weight: 400;

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
			margin: 50px auto 20px;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 12px;
			margin: 20px auto 0;
		}

		strong {
			font-weight: 500;
			color: $c-red;
		}
	}
}
