.hero {
	padding-bottom: 100px;
	z-index: -1;
	@media (max-width: $screen-xs-max) {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	@media (min-width: $screen-sm-min) {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
}
