.services {
	@media (max-width: $screen-xs-max) {
		padding: 10px 0;
	}
	@media (min-width: $screen-sm-min) {
		padding: 0 0 30px;
	}
	@media (min-width: $screen-md-min) {
		padding: 80px 0;
	}

	&__title {
		text-align: center;
		color: $c-red;
		font-weight: 700;
		margin: 0;
		height: 100%;
		@media (max-width: $screen-xs-max) {
			font-size: 28px;
			line-height: 50px;
		}
		@media (min-width: $screen-sm-min) {
			font-size: 60px;
			line-height: 100px;
		}
		@media (min-width: $screen-md-min) {
			line-height: 200px;
		}
	}

	&__box {
		$this: &;
		text-align: center;
		display: block;
		position: relative;
		text-decoration: none;
		transition: all 0.3s linear;
		@include clearfix;

		@media (min-width: $screen-sm-min) {
			float: left;
		}

		&:hover {
			@media (min-width: $screen-md-min) {
				background-color: rgba(228, 66, 63, 0.1);
			}
			#{$this}__logo {
				@media (min-width: $screen-md-min) {
					transform: scale(1.05);
				}
			}

			#{$this}__title {
				&:after {
					@media (min-width: $screen-md-min) {
						width: 110%;
					}
				}
			}
		}

		&__logo {
			display: block;
			transition: all 0.3s linear;
			@media (max-width: $screen-xs-max) {
				width: 60px;
				margin: 10px auto 5px;
			}
			@media (min-width: $screen-sm-min) {
				width: 80px;
				margin: 40px auto 30px;
			}
		}

		&__title {
			text-align: center;
			font-weight: 400;
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			color: $c-black;
			@media (max-width: $screen-xs-max) {
				font-size: 14px;
    			margin: 5px 0 5px;
			}
			@media (min-width: $screen-sm-min) {
				font-size: 16px;
				margin: 10px 0 10px;
			}

			&:after {
				@media (min-width: $screen-md-min) {
					position: absolute;
					content: '';
					bottom: -2px;
					left: 50%;
					height: 2px;
					width: 0;
					background-color: $c-red;
					display: block;
					transform: translateX(-50%);
					transition: all 0.2s linear;
				}
			}
		}

		&__text {
			text-align: center;
			color: $c-black;
			font-weight: 400;
			@media (min-width: $screen-sm-min) {
				font-size: 14px;
				min-height: 80px;
				margin: 10px 0 15px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 10px;
				margin: 5px auto 5px;
				max-width: 190px;
			}
			@media (max-width: $screen-sm-max) and (orientation: portrait) {
				min-height: 85px;
			}
			@media (max-width: $screen-sm-max) and (orientation: landscape) {
				min-height: 55px;
			}
		}

		.button {
			@media (max-width: $screen-xs-max) {
				margin: 0 0 20px;
			}
			@media (min-width: $screen-sm-min) {
				margin: 0 0 35px;
			}
		}
	}

}
